extends ../layout

block breadcrumb
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item active")= poll.name()

block content
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 card")

        div(class="card-block")
            h2
                i(class="fa fa-archive")
                span(class="margin-left-10") #{poll.name()}
            hr

            include ./chart

            div(id="poll-options")
                each option, key in poll.options()
                    label(class="input-group clickable")
                        span(class="input-group-addon")
                            input(class="vote-option" type="radio" name="vote-option" data-poll-id=poll.id() value=key)

                        p(class="lead form-control form-control-lg")= option.name()

                if user
                    button(class="btn btn-warning btn-lg btn-block")
                        i(class="fa fa-plus")
                        span(class="lead margin-left-10") Add option

                    if user.id() === poll.userId()
                        button(class="btn btn-danger btn-lg btn-block")
                            i(class="fa fa-trash")
                            span(class="lead margin-left-10") Delete poll

block append scripts
    script(type="text/javascript" src="/chartjs/Chart.bundle.min.js")
    script(type="text/javascript" src="/js/poll/vote-option.client.js")
