extends ../layout

block breadcrumb
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item active")= poll.name()

block content
    div(class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 card")

        div(class="card-block")
            h2
                i(class="fa fa-archive")
                span(class="margin-left-10") #{poll.name()}
            hr

            include ./chart

            div(id="poll-options")
                div(id="poll-options-list")
                    each option, key in poll.options()
                        label(class="input-group clickable")
                            span(class="input-group-addon")
                                input(class="vote-option" type="radio" name="vote-option" data-poll-id=poll.id() value=key data-value=option.name())

                            p(class="lead form-control form-control-lg")= option.name()


                if user
                    div(id="add-option-form-wrapper" class="hidden")
                        div(class="form-group")
                            input(id="add-option" name="add-option" type="text", class="form-control form-control-lg")

                        button(id="add-option-button" class="btn btn-success btn-lg btn-block" disabled)
                            i(class="fa fa-floppy")
                            span(class="lead margin-left-10") Save

                    button(id="show-add-option-form" class="btn btn-warning btn-lg btn-block")
                        i(class="fa fa-plus")
                        span(class="lead margin-left-10") Add option

                    if user.id() === poll.userId()
                        include ./delete-form

block append scripts
    script(type="text/javascript" src="/chartjs/Chart.bundle.min.js")
    script(type="text/javascript" src="/js/poll/vote-option.client.js")
    if user
        script(type="text/javascript" src="/js/poll/create-poll-option.client.js")
        if user.id() === poll.userId()
            script(type="text/javascript" src="/js/poll/delete-poll.client.js")
